@use '../mixins/mixins.scss'as *;

@mixin refresh-text () {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(182, 174, 174, 0.3);
}

.#{$namespace}-refresh {
    height: auto;
    width: auto;
    overflow-y: auto;
    user-select: none;

    .refresh-text {
        @include refresh-text;
    }
}